// COLORS
$strong-cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);
$gray: hsl(201, 11%, 66%);
$dark-gray: hsl(210, 10%, 33%);
$white: hsl(0, 0%, 100%);
$smoke-white: hsl(220, 18%, 97%);
// FONT BODY
$body-font: 18px;

// FONT FAMILY
$bai: 'Bai Jamjuree', sans-serif;

// FONT WEIGHT
$med: 400;
$semi: 600;